<div>
    <h4>{{title}}</h4>
    <br>
    <table>
        <tr>
            <th>Date</th>
            <th>TODO</th>
            <th>Completed?</th>
        </tr>
        <tr *ngFor="let t of todos">
            <td>{{t.date}}</td>
            <td>{{t.description}}</td>
            <td>{{t.isCompleted}}</td>
        </tr>
    </table>
    
    <div class="data-entry">
        <input type="text" placeholder="Date">
        <input type="text" placeholder="TODO TASK">
        <button>Add</button>
    </div>

    <div class="name">
        <input type="text" [(ngModel)]="fullName"/>
        <button (click)="showFullName()">SHOW NAME</button>
        <label>{{fullName}}</label>
    </div>
</div>