<div class="main_container">
  <div class="left"></div>
  <div class="right">
    <form  [formGroup]="frmGrp" class="form needs-validation" novalidate>
      <h2 style="color:white;margin-bottom: 10%;">Sign Up</h2>
      {{frmGrp.value | json}}
      <div class="mb-3">
        <label for="fullname" class="form-label label
                ">Full Name</label>
        <input type="text"  class="form-control" id="fullname" placeholder="" formControlName="fullname"  name="fullname" required>
        <div *ngIf=" frmGrp.controls['fullname'].touched && frmGrp.controls['fullname'].invalid" style="color:rgba(132, 29, 29, 0.849);">
          <span *ngIf="frmGrp.controls['fullname'].errors?.['required']">Please enter a valid full name</span>
        <span *ngIf="frmGrp.controls['fullname'].errors?.['pattern']">Enter proper full name dumb!</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label label
                ">Email</label>
        <input type="email" class="form-control" id="email" placeholder="" formControlName="email"  name="email" required>
       <div *ngIf=" frmGrp.controls['email'].touched && frmGrp.controls['email'].invalid">
        <span *ngIf="frmGrp.controls['email'].errors?.['required']">Email is required</span>
        <span *ngIf="frmGrp.controls['email'].errors?.['email']">Please enter a well formed email id</span>
       </div>
      </div>
      <div class="mb-3">
        <label for="mobileNo" class="form-label label
                ">Mobile</label>
        <input type="text" class="form-control" id="mobileNo" placeholder="8080811145"  formControlName="mobile"  name="mobileNo">
        <div *ngIf=" frmGrp.controls['mobile'].touched && frmGrp.controls['mobile'].invalid" style="color:rgba(132, 29, 29, 0.849);">
          <span *ngIf="frmGrp.controls['mobile'].errors?.['required']">Mobile is required</span>
        <span *ngIf="frmGrp.controls['mobile'].errors?.['pattern']">Enter proper mobile number!</span>
        </div>
      
      </div>
      <div class="mb-3">
        <label for="pass" class="form-label label
                ">Password</label>
        <input type="password" class="form-control valid" id="pass" placeholder=""  formControlName="password"  name="pass">
        <div *ngIf=" frmGrp.controls['password'].touched && frmGrp.controls['password'].invalid" style="color:rgba(132, 29, 29, 0.849);">
          <span *ngIf="frmGrp.controls['password'].errors?.['required']">Password canot be blank or empty</span>
          <span *ngIf="frmGrp.controls['password'].errors?.['minlength']">length must be minimum of 8 characters</span>
        <span *ngIf="frmGrp.controls['password'].errors?.['maxlength']">password length cannot be more than 20</span>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            I agree to the <a href="#">Terms and Conditions</a>
          </label>
        </div>
      </div>
      <button type="button" class="btn btn-warning full-width" (click)="onSubmit()">CREATE ACCOUNT</button>
      <button type="link" class="btn btn-link" (click)="redirectToLogin()">Already a user? Login</button>
    </form>
  </div>
</div>